body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.navbar,
.hero {
    background-color: #1F2937;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    margin-bottom: 5em;
}

.main-container>* {
    flex: 1;
}

/* navbar section */
.navbar,
.hero {
    background-color: #1F2937;
}

.navbar .container {
    margin-top: 1em;
}

.logo {
    font-size: 24px;
    flex: 1 1 auto;
}

.primary-nav {
    justify-content: flex-end;
    display: flex;
    flex: 2 1 auto;
    margin: 0;
}

.primary-nav li {
    padding-left: 2em;
}

/* hero section */
.hero .left-col,
.hero .right-col {
    flex: 1;
}
.hero-img {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 240px;
}

.hero-main-txt {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: .5em;
}

.hero-second-txt {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 1em;
}

.hero-btn {
    width: 10em;
    height: 3em;
    background-color: #3882F6;
    border-radius: .6em;
    border: none;
    color: white;
    font-weight: bold;
}

/* info section */
.info-section .container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}
.info-section .product-img-and-descript {
    display: flex;
    justify-content: space-evenly;
}

.info-header {
    font-weight: bold;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}

.pairing {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-top: 2em;
}

.pairing img {
    width: 100px;
    height: 100px;
    flex-grow: 2;
}

.pairing p {
    flex-grow: 1;
}